<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mot de passe</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
        background-color: #f2f2f2;
      }
      .txt{
        color:black;
      

      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-image: linear-gradient(135deg, #f8b1fd 10%, #4c3dd2 100%);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      .logo {
        text-align: center;
        margin-bottom: 20px;
      }
      .logo img {
        max-width: 200px;
      }
      .message {
        text-align: center;
        margin-bottom: 20px;
      }
      .password {
        text-align: center;
        margin-bottom: 5px;
        background-color: #f2f2f2;
      }
      .cta {
        text-align: center;
      }
      p{
       text-align: center;
       font-size: large;

      }
      li{
       font-size: large;

      }
      /* .cta a {
        display: inline-block;
        padding: 10px 20px;
        background-image: linear-gradient(135deg,  #d4372c  0%, #4028c6 100%);
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out;
      } */
       a {
        color:rgb(14, 14, 119);
         font-size: 20px;
        
      }
      .signature {
        text-align: center;
        margin-top: 20px;
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="https://www.maintenance-gmao.com/img/logo-maintenance-gmao.png" alt="Logo">
      </div>
      <div class="message">
        <p>Cher/Chère Technicien(ne) <%=nom %>  <%=prenom %></p>
        <p >Nous vous contactons pour vous informer qu'un ordre d'intervention a été émis pour effectuer une maintenance sur l'une des machines de notre usine. Nous avons décidé de vous confier cette tâche en raison de votre expérience et de vos compétences dans ce domaine.

            Voici les informations concernant l'ordre d'intervention :</p>
      </div>
      <ul>
     <li><span class="txt">Équipement:</span><%=libele %> installe en <%=ligne %></li>
    <li><span class="txt">Date arret machine:</span><%=datearretmachine %></li>
    <li><span class="txt">Degre_urgence:</span><%=degre_urgence %> </li>
    <li><span class="txt">Nature_de_travaux: </span><%=nature_de_travaux  %> </li>
    </ul>
    <p>Merci de confirmer votre disponibilité pour cette intervention dès que possible <a href="http://localhost:4200/ordreTech"> Voici plus de taille sur votre ordre </a></p>
      <div class="signature">
        <p>Cordialement,</p>
        <p>responsable de maintenance</p>
      </div>
    </div>
  </body>
</html>
